body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccc;
}

#emoji{
    font-size: 10em;
    filter: grayscale(1);
    cursor: pointer;
    transition-property: transform, filter;
    transition-duration: 200ms;
}

#emoji:hover{
    transform:  scale(1.1);
    filter: grayscale(0);
}